{% extends 'Helper/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    {% if not publicated_today %}
    <div>
        <h1>Добавить дневной отчёт</h1>
        <div align='center' class="questions">
            <p class="question">Что приятного, запоминающегося было сегодя?</p>
            <p class="question">Кому и за что я благодарен?</p>
            <p class="question">Что полезного, важного было сделано сегодня?</p>
            <p class="question">Если бы можно было бы заново прожить день, что бы изменилось в проделанных действиях?</p>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.review }}<br>
            {{ date }}<br>
            <button type="submit" class="btn btn-success btn-margin">Добавить</button>
        </form>
    </div>
    {% endif %}

    <div align="center">
        <button href="#ya" id="show_diary" type="submit" class="btn btn-secondary btn-margin-more">Показать записи</button>
        <a id="down_btn" href="#up_btn" class="btn-secondary btn-down">↓</a>
    </div>
    <div id="reviews"></div>
    
    <div id="end" align="center">
        <a id="up_btn" href="#down_btn" class="btn-secondary btn-up">↑</a>
    </div>

    <script type="text/javascript">
        show_diary.onclick = function(){
            var div_reviews = document.getElementById("reviews");
            var show_btn = document.getElementById("show_diary");
            var reviews = {{ ser_diary | safe }};
            if(show_btn.innerHTML == "Показать записи"){
                document.getElementById("down_btn").style.display = "inline-block";
                document.getElementById("up_btn").style.display = "inline-block";
                var html = "";
                for(let i = 0; i < reviews.length; i++)
                {
                    html += '<p class="review">'
                    html += '<b margin-bottom: 15px>';
                    pub_date = reviews[i]["fields"]['pub_date'].split('-');
                    html += pub_date[2];
                    html += ' ';
                    to_month = {'01': 'January', '02': 'February', '03': 'March', '04': 'April',
                                '05': 'May', '06': 'June', '07': 'July', '08': 'August',
                                '09': 'September', '10': 'October', '11': 'November',
                                '12': 'December'}
                    html += to_month[pub_date[1]];
                    html += ' ';
                    html += pub_date[0];
                    html += ' '
                    html += '</b>';
                    html += reviews[i]["fields"]['review'];
                    html += '</p>';
                }
                div_reviews.innerHTML = html;
                show_btn.innerHTML = "Скрыть записи";
            }
            else if(show_btn.innerHTML == "Скрыть записи"){
                document.getElementById("down_btn").style.display = "none";
                document.getElementById("up_btn").style.display = "none";
                div_reviews.innerHTML = "";
                show_btn.innerHTML = "Показать записи";
            }
        }
    </script>
    <script src="/static/js/diary.js"></script>
{% endblock %}