{% extends 'Helper/base.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    {% if not publicated_today %}
        <div style="text-align: center; margin-top: 15px; margin-bottom: 15px;" ><b class="alert alert-dark">Пора написать что-нибудь в ежедневник 0_0</b></div>
    {% endif %}

    <div align="center">
        <form method="post" id="mus_data">
            {% csrf_token %}
            {% if timer_rest %}
                <input type="number" min="1" max="999" value="{{ timer }}" name="time_rest" id="time1" placeholder="Минут" size="7">
            {% else %}
                <input type="number" min="1" max="999" value="5" name="time_rest" id="time1" placeholder="Минут" size="7">
            {% endif %}
            <button name="rest_but" type="submit" class="btn btn-success" style="margin-top: 5px; margin-bottom: 5px;" id="rest">Отдохнуть</button>
            <div id="timer1" style="text-align: center;"> </div>

            {% if timer_work %}
                <input type="number" min="1" max="999" value="{{ timer }}" name="time_work" id="time2" size="7" placeholder="Минут">
            {% else %}
                <input type="number" min="1" max="999" value="40" name="time_work" id="time2" size="7" placeholder="Минут">
            {% endif %}
            <button name="work_but" type="submit" class="btn btn-danger" style="margin-top: 5px; margin-bottom: 5px;" id="work">Работать</button>
            <div id="timer2" style="text-align: center;"></div>

            <div align="center" style="margin-top:10px;">
                <b>Уведомление</b>
                <input type="checkbox" name="notification" checked="checked">
            </div>
        </form>
    </div>

    <div style="text-align: center;" onchange="listMusic();" id="folder">
        <div>Папка</div>
        <select id="select_folder" form="mus_data" name="select_folder">
            {% for folder in folders %}
                <option value="{{ folder }}">{{ folder }}</option>
            {% endfor %}
        </select>
    </div>
    <div style="text-align: center; margin: 7px;" id="music">
        <div>Композиция</div>
        <select id="select_music" form="mus_data" name="select_music">

        </select>
    </div>
    <div align="center" id="random_btn">
        <button class="btn btn-dark" align="center" style="margin-bottom:10px;" onclick="randomSelect()">Случайно</button>
    </div>

    <script type="text/javascript"> 
        {% if select_folder %}
            var select_folder = "{{ select_folder|safe }}";
            var select_music = "{{ select_music|safe }}";
            var options = document.getElementsByTagName("option");
            for (let i = 0; i < options.length; i++){
                if (options[i].innerHTML == select_folder){
                    options[i].selected = true;
                    break;
                }
            }
            listMusic();
            for (let i = 0; i < options.length; i++){
                if (options[i].innerHTML == select_music){
                    options[i].selected = true;
                    break;
                }
            }
        {% else %}
            listMusic();
        {% endif %}

        function listMusic(){
            let music_field = document.getElementById("select_music");
            let folder_field = document.getElementById("select_folder");
            let selected_folder = folder_field.options[folder_field.selectedIndex].value;
            let html = "";
            let data = {{ musics|safe }};
            let musics = data[selected_folder];
            for (let i = 0; i < musics.length; i++){
                html += "<option value=\""
                html += musics[i]; 
                html += "\">";
                html += musics[i];
                html += "</option>";
            }
            music_field.innerHTML = html;
        }

        function randomSelect(){
            let data = {{ musics|safe }}; 
            let num = Math.floor(Math.random() * Object.keys(data).length);
            let select_folder = Object.keys(data)[num];
            let options = document.getElementsByTagName("option");
            for (let i = 0; i < options.length; i++){
                if (options[i].innerHTML == select_folder){
                    options[i].selected = true;
                    break;
                }
            }
            listMusic();

            num = Math.floor(Math.random() * data[select_folder].length);
            select_music = data[select_folder][num];
            for (let i = 0; i < options.length; i++){
                if (options[i].innerHTML == select_music){
                    options[i].selected = true;
                    break;
                }
            }
        }
    </script> 
    <script src="/static/js/index.js"></script>
    <script src="/static/js/timer.js"></script>
    {%if timer_rest %}
    <script type="text/javascript">
        restTimer()
    </script>
    {% endif %}
    {%if timer_work %}
    <script type="text/javascript">
        workTimer()
    </script>
    {% endif %}
{% endblock %}
