{% extends 'Helper/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div align="center" style="padding-left: calc(20vw); padding-right: calc(20vw)">
        <a class="p-2 text-muted" href="#" target="_blank">СПИСОК ДЕЛ</a>
        <h3>Добавить новую идею/задачу</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.task_info }}
            <button type="submit" class="btn btn-success" style="margin: 5px;">Добавить</button>
        </form>
    </div>
    
{% endblock %}